[workspace]
members = [
    "account"
]

[workspace.dependencies]
cosmos-sdk-proto = { version = "0.19", default-features = false }
cosmwasm-schema  = "=1.4.1"
cosmwasm-std     = { version = "=1.4.1", features = ["stargate"] }
cw2              = "1.1.1"
cw-storage-plus  = "1.1.0"
cw-utils         = "1.0.2"
hex              = "0.4"
prost            = "0.11"
sha2             = { version = "0.10.8", features = ["oid"]}
thiserror        = "1"
tiny-keccak      = { version = "2", features = ["keccak"] }
serde = { version = "1.0.145", default-features = false, features = ["derive"] }
serde_json = "1.0.87"
schemars = "0.8.10"
ripemd = "0.1.3"
bech32 = "0.9.1"
base64 = "0.21.4"
phf = { version = "0.11.2", features = ["macros"] }
rsa = { version = "0.9.2" }
getrandom = { version = "0.2.10", features = ["custom"] }
p256 = {version = "0.13.2", features = ["ecdsa-core", "arithmetic", "serde"]}
webauthn-rs = { git = "https://github.com/burnt-labs/webauthn-rs.git", features = ["danger-credential-internals"] }
webauthn-rs-proto = { git = "https://github.com/burnt-labs/webauthn-rs.git" }
webauthn-rs-core = { git = "https://github.com/burnt-labs/webauthn-rs.git" }
