[workspace]
members = [
    "contracts/*",
]

[profile.release]
opt-level = 3               # Use slightly better optimizations.
overflow-checks = true     # Disable integer overflow checks.


[workspace.dependencies]
cosmwasm-schema  = "=1.4.1"
cosmwasm-std     = { version = "=1.4.1", features = ["stargate"] }
cw2              = "1.1.1"
cw-storage-plus  = "1.1.0"
cw-utils         = "1.0.2"
hex              = "0.4"
sha2             = { version = "0.10.8", features = ["oid"]}
thiserror        = "1"
tiny-keccak      = { version = "2", features = ["keccak"] }
serde = { version = "1.0.203", default-features = false, features = ["derive"] }
serde_json = "1.0.87"
schemars = "0.8.10"
ripemd = "0.1.3"
bech32 = "0.9.1"
base64 = "0.21.4"
phf = { version = "0.11.2", features = ["macros"] }
rsa = { version = "0.9.2" }
getrandom = { version = "0.2.10", features = ["custom"] }
p256 = {version = "0.13.2", features = ["ecdsa-core", "arithmetic", "serde"]}
prost = {version = "0.11.2", default-features = false, features = ["prost-derive"]}
cosmos-sdk-proto = {git = "https://github.com/burnt-labs/cosmos-rust.git", rev = "9108ae0517bd9fd543c0662e06598032a642e426", default-features = false, features = ["cosmwasm", "xion"]}
osmosis-std-derive = "0.13.2"
prost-types = "0.12.6"
pbjson-types = "0.6.0"